.cabinet {
  padding: clamp(30px, 4.167vw, 50px) 0 clamp(50px, 9.167vw, 110px);
  background-color: var(--color-a);

  background-image: url(../img/sprite/order-bg.svg);
  background-position: 50vw 150px;
  background-repeat: no-repeat;

  font-family: var(--font-family);
  color: var(--color-d);

  @media screen and (max-width: 1025px) {
    background-image: none;
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 5vw, 60px);
  }

  &__top {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(30px, 3.75vw, 45px);
    line-height: 120%;
    color: var(--color-b);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(18px, 2.083vw, 25px);
    line-height: 120%;
    color: var(--color-c);
  }

  &__info {
    max-width: 670px;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);

    &-title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: clamp(20px, 2.083vw, 25px);
      line-height: 100%;
      color: var(--color-b);
    }

    &-coll {
      display: flex;
      flex-direction: column;
      grid-gap: clamp(20px, 2.5vw, 30px);

      @media screen and (max-width: 576px) {
        grid-column: 1;
      }
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__list {
    display: grid;
    grid-gap: 20px;
  }
}
