.catalog {
  padding-top: clamp(30px, 6.667vw, 80px);
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: clamp(20px, 3.333vw, 40px);

  .product-card__item {
    grid-template-columns: clamp(35px, 4.167vw, 50px) 1fr;
  }

  &__text {
    padding-top: 30px;
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-e);
  }

  &__inner {
    position: relative;
    .show-more {
      margin: clamp(40px, 6.667vw, 80px) auto 0;
    }
  }

  @media screen and (max-width: 1025px) {
    grid-template-columns: 100%;
    padding-top: 20px;

    &__inner {
      display: grid;
      grid-template-columns: 220px 1fr;

      .show-more {
        grid-column: span 2;
      }
    }

    &__text {
      grid-column: span 2;
    }


  }

  @media screen and (max-width: 576px) {
    &__inner {
      grid-template-columns: 100%;

      .show-more {
        grid-column: initial;
      }
    }

    .product-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    &__text {
      grid-column: initial;
    }
  }



}
