.slider-bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  // min-height: clamp(528px,46.75vw, 560px);
  display: flex;
  overflow: hidden;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;

  img {
    // width: 100vw;
    max-height: 768px;
  }
}

.main-slider {
  position: relative;
  max-height: 768px;

  &__slide {
    // padding: clamp(115px ,14.167vw, 170px) 0 clamp(80px,10vw, 120px);
    min-height: Min(40vw, 768px);
    max-height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-gap: 32px;
    position: relative;
    z-index: 0;
    opacity: 0;
    overflow: hidden;

    &.swiper-slide-active {
      opacity: 1;
      z-index: 5;
    }

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      z-index: 1;
      opacity: 0;
      pointer-events: none;
    }

    // @media screen and (max-width: 1025px) {
    //   // min-height: 300px;
    //   padding: 145px 0 100px;
    // }

    @media screen and (max-width: 576px) {
      min-height: 40vw;
      padding: 0;
    }
  }

  &__title {
    position: relative;
    z-index: 5;
    display: inline;
    font-weight: 400;
    font-size: clamp(22px, 6.25vw, 90px);
    line-height: 100%;
    font-family: var(--font-family4);
    transform: none !important;

    &::before {
      position: absolute;
      width: 200vw;
      height: 100vw;
      left: 0;
      top: 0;
      content: '';
      transform: translate(-19%, -50%);
      background-color: transparent;
    }

    @media screen and (max-width: 576px) {
      font-weight: 400;
      font-size: clamp(22px, 3.75vw, 45px);
      line-height: 120%;
      color: var(--color-a);
      margin: 0 auto;
      text-align: center;
    }
  }

  &__pagination {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    bottom: -6px;
    z-index: 20;
    height: clamp(19px, 2.917vw, 35px);
    align-items: center;
    justify-content: center;
    padding: 0 clamp(27px, 3.75vw, 45px);
    grid-gap: clamp(10px, 1.667vw, 20px);
    background-image: var(--pagination-brow);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .swiper-pagination-bullet {
      display: block;
      width: clamp(5px, 0.833vw, 10px);
      height: clamp(5px, 0.833vw, 10px);
      border-radius: 50%;
      background-color: var(--color-c);
      transition: all .4s;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--plus-bg);
    }
  }
}
