.order-done {
  padding: clamp(100px, 16.667vw, 200px) 0;
  background-color: var(--color-a);
  color: var(--color-b);
  height: 100%;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(25px, 3.333vw, 40px);
  }

  &__top {
    display: flex;
    flex-direction: column;
    grid-gap: 11px;
    text-align: center;
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(25px, 3.75vw, 45px);
    line-height: 130%;
    color: var(--color-b);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(20px, 2.917vw, 35px);
    line-height: 130%;
    color: var(--color-c);
  }

  &__text {
    max-width: 633px;
    width: calc(100% - 20px);
    text-align: center;
    margin: 0 auto;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.667vw, 20px);
    line-height: 135%;
    color: var(--color-d);

    b {
      font-weight: 700;
    }

    @media screen and (max-width: 576px) {
      br:not(br + br) {
        display: none;
      }
    }
  }
}
