.section-reviews{
  padding: clamp(45px, 6.667vw, 80px) 0;
  background-color: var(--color-d);


  position: relative;

  &--before {
    &::before {
      content: '';
      position: absolute;
      width: Min(39.375vw, 567px);
      height: Min(47.014vw,677px);
      background-image: url(../img/reviews-bg.png);
      background-position:center center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 50%;
      transform: translate(-60%, 50%);
    }
  }

  @media screen and (max-width: 1025px) {
    background-image: none;
  }

  &__top {
   margin-bottom: 50px;
  }

  &__title {
    font-size: clamp(25px, 2.917vw, 35px);
  }
}
