.top-section {
  padding: 37px 0 18px;

  &__box {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-gap: 17px clamp(20px, 3.333vw, 40px);

    @media screen and (max-width: 1025px) {
      grid-template-columns: 100px 1fr;
      grid-gap: 16px 0;
    }

  }

  &__nav,
  &__breadcrumbs {
    grid-column: 2;
  }

  &__nav {
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  @media screen and (max-width: 1025px) {
    padding-top: 18px;
  }

  @media screen and (max-width: 576px) {
    padding: 10px 0;
  }
}
