<footer>
  <div class="container">
    <div class="footer">

      <ul class="footer__nav">
        <li class="footer__nav-item">
          <a href="#">О нас</a>
        </li>
        <li class="footer__nav-item">
          <a href="#">Наши партнёры</a>
        </li>
        <li class="footer__nav-item">
          <a href="catalog.html">Каталог</a>
        </li>
        <li class="footer__nav-item">
          <a href="#">Доставка</a>
        </li>
        <li class="footer__nav-item">
          <a href="#">Акции</a>
        </li>
        <li class="footer__nav-item">
          <a href="#">Контакты</a>
        </li>
      </ul>


      <div class="footer__wrapper">
        <a href="#" class="footer__logo">
          <svg width='130' height='127'>
            <use href='img/sprite/sprite.svg#footer-logo'></use>
          </svg>
        </a>

        <ul class="social">
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width="10" height="19">
                <use href='img/sprite/sprite.svg#social'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width="19" height="19">
                <use href='img/sprite/sprite.svg#social2'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width="20" height="21">
                <use href='img/sprite/sprite.svg#social3'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width="21" height="17">
                <use href='img/sprite/sprite.svg#social4'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width="24" height="24">
                <use href='img/sprite/sprite.svg#social5'></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="footer__text">
          © 2022 Всі права захищені.
          Дизайн та розробка — <a href="https://gd-agency.com.ua/" target="_blank">GD Studio</a>
        </p>

      </div>
      <ul class="nav-list footer__nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link" href="tel:380663332211">
            <span class="nav-list__icon">
              <svg width="23" height="23">
                <use href='img/sprite/sprite.svg#phone'></use>
              </svg>
            </span>
            38 (066) 333-22-11
          </a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#">
            <span class="nav-list__icon">
              <svg width="19" height="24">
                <use href='img/sprite/sprite.svg#geo'></use>
              </svg>
            </span>
            м. Вишневе <br>
          вул. Першотравнева 21 Г
          </a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#">
            <span class="nav-list__icon">
              <svg width="24" height="19">
                <use href='img/sprite/sprite.svg#mail'></use>
              </svg>
            </span>
            craftstoriesua@gmail.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<div class="overlay" data-menu-overlay></div>



