.catalog-accordion {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

  @media screen and (max-width: 1025px) {
    grid-gap: 15px;
  }

  &__item {
    padding-bottom: 20px;
    border-bottom: 3px solid #474747;

    @media screen and (max-width: 1025px) {
      padding-bottom: 15px;
      border-width: 1.5px;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
  }


  &__button {

    display: flex;
    align-items: center;
    grid-gap: 20px;
    transition:  all .4s;

    &-name {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: var(--color-c);
    }

    &-value {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 11.43px;
      line-height: 14px;
      /* identical to box height */


      color: var(--color-a);

      @media screen and (min-width: 1025px) {
        display: none;
      }
    }

    svg {
      transition:  all .4s;
      flex-shrink: 0;
    }

    &.active {
      margin-bottom: 20px;
      color: var(--color-a);

      svg {
        transform:scaleY(-1);
      }

    }

    &:hover {
      color: var(--color-a);
    }

    @media screen and (max-width: 1025px) {
      width: 100%;

      &-name {
        width: fit-content;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
        order: 1;
        flex-grow: 1;
      }

      &-value {
        text-align: right;
        order: 2;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 111px;
        max-height: 14px;
      }

      svg {
        order: 3;
      }

      &.active {
        margin-bottom: 9px;
      }
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}

.checkbox {
  display: flex;
  flex-direction: column;
  // grid-gap: 10px;
}

.checkbox-sublist {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding-left: 46px;

  &.show {
    margin-top: 10px;
  }
}
