.order-aside {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(20px, 2.5vw, 30px);
  position: sticky;
  top: 30px;

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(18px, 2.083vw, 25px);
    line-height: 100%;
    color: var(--color-b);
  }

  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: 27px;
    padding: clamp(20px, 2.5vw, 30px);
    width: 100%;
    background: var(--color-k);
    border: 1px solid var(--color-l);
    border-radius: 4px;

  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(35px, 4vw, 48px);

    font-style: normal;
    font-weight: 700;
    font-size: clamp(13px, 1.25vw, 15px);
    line-height: 18px;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
    background-color: var(--color-h);
    border-radius: 4px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
